@model Tiich.ViewModels.VMSearchResultDisplay

@{
    ViewBag.Title = "Tiich";
}

<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
        <h1>Tiich</h1>


        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
        {
            <div class="form-group">
                <div class="col-sm-9">
                    @Html.TextBox("research", 
                    TempData["research"] != null ? TempData["research"] : String.Empty,
                    new { @class = "form-control", @placeholder="Rechercher" })
                </div>
                <div class="">
                    <input type="submit" class="btn btn-primary" name="runSimulation" value="Go !" />
                </div>
            </div>
        }

    </div>
</div>
<div class="col-md-8 col-md-offset-2">
    
    @{
        if(Model.VMWorshops != null)
        {
            foreach(var vmws in Model.VMWorshops)
            {
                if(vmws.Workshops.Count != 0)
                {
                  <div class="panel panel-group" style="background-color: #EF6C00; ">
                    <div class="panel-heading">

                        <h3>@vmws.Category<span class="badge" style="float:right">@vmws.Workshops.Count</span></h3>
                    </div>
                    @if(vmws.Workshops != null)
                    {
                        <ul class="list-group">

                        @{
                            int i = 0;
                            foreach(var ws in vmws.Workshops)
                            {
                                string style = i % 2 == 1 ? "background-color:#EEEEEE;" : "";
                                
                                <li class="panel-body list-group-item clickableList" style="@style" id="@ws.ID">
                                    
                                    <!-- Workshop -->
                                    <div class="col-lg-9">
                                        <h3>@ws.Label</h3>
                                        <p>@ws.Details</p>
                                        <p>@ws.Address</p>
                                        <p>@ws.CreationDate</p>
                                    </div>

                                    <!-- User-->
                                    <div class="col-lg-3">
                                        @{
                                            string imgPath = "/Content/Avatars/" + (ws.User.Avatar == null ? "null" : ws.User.Avatar) + ".png";
                                            <img src=@imgPath class="roundedImage"/>
                                        }

                                    </div>
                               </li>
                                i++;
                            }
                        }
                        </ul>
                    }
                </div>
                }
            }    
        }
        
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".clickableList").click(function (obj) {
            var id = $(this).attr('id');
            window.location.replace("/Workshop/Create/" + id);
        })
    })
</script>