@model Tiich.ViewModels.VMSearchResultDisplay

@{
    ViewBag.Title = "Tiich";
}

<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
        <h1>Tiich</h1>


        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
        {
            <div class="form-group">
                <div class="col-sm-9">
                    @Html.TextBox("research", 
                    TempData["research"] != null ? TempData["research"] : String.Empty,
                    new { @class = "form-control", @placeholder="Rechercher" })
                </div>
                <div class="">
                    <input type="submit" class="btn btn-primary" name="runSimulation" value="Go !" />
                </div>
            </div>
        }

    </div>
</div>
<div class="col-md-8 col-md-offset-2">
    
    @{
        if(Model.VMWorshops != null)
        {
            foreach(var vmws in Model.VMWorshops)
            {
                <div class="panel panel-group" style="background-color: #EF6C00; ">
                    <div class="panel-heading">

                        <h3>@vmws.Category<span class="badge" style="float:right">@vmws.Workshops.Count</span></h3>
                    </div>
                    @if(vmws.Workshops != null)
                    {
                        <ul class="list-group">

                        </ul>
                        int i = 0;
                        foreach(var ws in vmws.Workshops)
                        {

                            string style = i % 2 == 1 ? "background-color:#EEEEEE;" : "";
                                
                            <div class="panel-body list-group-item" style="@style">
                                <h3>@ws.Label</h3>
                                <p>@ws.Details</p>
                                <p>@ws.Address</p>
                                <p>@ws.CreationDate</p>
                            </div>
                            i++;
                        }
                    }
                </div>
            
                
            }    
        }
        
    }

</div>

