@model Tiich.ViewModels.VMSearchResultDisplay

@{
    ViewBag.Title = "Tiich";
}

<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
        <h1>Tiich</h1>


        @using (Html.BeginForm("classicSearch", "Search", FormMethod.Post, new { @class = "form-horizontal", @role="form" }))
        {
            <div class="form-group">
                <div class="col-sm-9">
                    @Html.TextBox("research", "", new { @class = "form-control", @placeholder="Rechercher" })
                </div>
                <div class="">
                    <input type="submit" class="btn btn-default" name="runSimulation" value="Go !" />
                    @Html.ActionLink("Recherche magique", "magicSearch", "SearchController", null, new { @class = "btn btn-primary " })
                </div>
            </div>
        }

    </div>
</div>
<div class="col-md-8 col-md-offset-2">
    
    @{
        if(Model.VMWorshops != null)
        {
            foreach(var vmws in Model.VMWorshops)
            {
                <h2>@vmws.Category</h2>
            
                if(vmws.Workshops != null)
                {
                    foreach(var ws in vmws.Workshops)
                    {
                        <div class="well">
                            <h3>@ws.Label</h3>
                            <p>@ws.Details</p>
                            <p>@ws.Address</p>
                            <p>@ws.CreationDate</p>
                        </div>
                    }    
                }
            }    
        }
        
    }

</div>

