@model TiichDAL.Workshop

@{
    ViewBag.Title = "Proposer";
    bool edit = TempData["UserID"] == Model.ID.ToString() ? true : false; 
}

@using (Html.BeginForm("Create", "Workshop", FormMethod.Post))
{
    @Html.HiddenFor(i => i.Location)
    <div class="col-lg-10 col-lg-offset-1">
        <div class="well">
            <h1 >
                @{
                    if(edit)
                    {
                        @Html.TextBox("Label", Model.Label, new { @class = "form-control", @placeholder = "Votre titre ici" })
                    }
                    else
                    {
                        @Model.Label
                    }   
                }
            </h1>
        </div>
    </div>
    <!-- Content-->
    <div class="col-lg-10 col-lg-offset-1">
    <div class="col-lg-8">
        <div class="well col-lg-12" style="height:100%;">
            <div class="col-lg-6">
                <div>
                    @if(edit)
                    {
                        <p class="list-group-item">Date : @Html.TextBoxFor(model => model.Date, new { type = "date", @class = "form-control", @value = DateTime.Now.ToShortDateString() })</p>
                        <p class="list-group-item">Heure : @Html.TextBoxFor(i => i.Hour, new { type="time",  @class = "form-control", @placeholder = DateTime.Now.AddHours(1).ToShortTimeString() })</p>
                    }
                    else
                    {
                        <p class="list-group-item">Date : @DateTime.Now.ToShortDateString()</p>
                        <p class="list-group-item">Heure : @DateTime.Now.AddHours(1).ToShortTimeString()</p>
                    }
                    </div>
            </div>
            <div class="col-lg-6">
                @if(edit)
                {
                    @Html.TextBox("address", Model.Address, new { @placeholder = "Nowhere" })
                }
                else
                {
                    @Html.TextBox("address", Model.Address, new { @placeholder = @Model.Address, @class = "disabled"})
                }

                <div id="map">
                </div>
            </div>
        </div>

        <div class="col-lg-5 well">
            <h3>Détails</h3>
            <p>@Html.TextArea("details", Model.Details, new { @class = "form-control" })</p>
        </div>

        <div class="col-lg-6 col-lg-offset-1 well">
            <h3>A prévoir</h3>
            <p>@Html.TextArea("equipement", Model.Equipement, new { @class = "form-control"})</p>
        </div>
    </div>
    <div class="col-lg-4" style="height:100%;">
        <div class="well">
            <p>Participants :</p>
            <p class="form-group col-lg-6">
                Minimium :
                @Html.TextBoxFor(i => i.PeopleMin, new { @type = "number", @class = "form-control" })
            </p>

            <p class="form-group col-lg-6">
                Maximum :
                @Html.TextBoxFor(i => i.PeopleMax, new { @type = "number", @class = "form-control" })
            </p>

            <p>Prix</p>
            <div >
                <p class="form-group col-lg-6">
                    Minimium :
                    @Html.TextBoxFor(i => i.PriceMin, new { @type = "number", @class = "form-control" })
                </p>
                <p class="form-group col-lg-6">
                    Maximum :
                    @Html.TextBoxFor(i => i.PriceMax, new { @type = "number", @class = "form-control" })
                </p>
            </div>
            @if(edit)
            {
                <input type="submit" class="btn btn-primary "/>
            }
        </div>

        <div class="well" style="height:100%;">
            <h3>Bio</h3>
        </div>
    </div>
</div>
}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src="~/Scripts/Gmap.js"></script>
