@model List<TiichDAL.Workshop>

<ul class="list-group">

    @{
        int i = 0;
        foreach (var ws in Model)
        {
            string style = i % 2 == 1 ? "background-color:#EEEEEE;" : "";

            <li class="panel-body list-group-item clickableList" style="@style" id="@ws.ID">

                <!-- Workshop -->
                <div class="col-lg-9">
                    <h3>@ws.Label.Trim()</h3>
                    <p>@ws.Details</p>
                    <p>@ws.Address</p>
                    <p>@ws.CreationDate</p>
                </div>

                <!-- User-->
                <div class="col-lg-3">
                   
                        <a href="User/Account/@ws.UserID">
                        @{

                             string imgPath = "/Content/Avatars/" + (ws.User.Avatar == null ? "null" : ws.User.Avatar) + ".png";
                             <img src=@imgPath class="roundedImage" />
                        }
                        </a>

                </div>
            </li>
            i++;
        }
    }
</ul>



<script type="text/javascript">
    $(document).ready(function () {
        $(".clickableList").click(function (obj) {
            var id = $(this).attr('id');
            window.location.replace("/Workshop/Create/" + id);
        })
    })
</script>